.App {
  margin: auto;
}

.menu {
  background-color: #3f51b5;
  position: fixed;
  margin: auto;
  top: 0;
  width: 100%;
  height: 65px;
  padding-top: 10px;
  padding-left: 10px;
}

.page {
  margin: auto;
  text-align: left;
  width: 70em;
  padding-top: 15px;
}

.test {
  padding:0px;
}

.questionCard {
  margin:5px;
  padding: 10px;
  width: 65em;
}

.questionItem {
  width: 60em;
}

.answerItem {
  width: 57.4em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
